<!DOCTYPE html>
<html lang="en">
    <head>
        <title>gameMenu</title>
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
        <div class="game-menu-layout" style="top:2.5%;left:2.5%">
            <h1>Rock Paper Scissors</h1>
        </div>
        <div class="game-menu-layout" style="top:2.5%;right:2.5%">
            <h1>Game #2</h1>
        </div>
        <div class="game-menu-layout" style="bottom:2.5%;left:2.5%">
            <h1>Game #3</h1>
        </div>
        <div class="game-menu-layout" style="bottom:2.5%;right:2.5%">
            <h1>Game #4</h1>
        </div>
    </body>
</html>