<!DOCTYPE html>
<html lang="en">
    <head>
        <title>gameMenu</title>
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
        <div class="game-menu-layout" style="top:2.5%;left:2.5%;z-index:-1;">
            <h1>Rock Paper Scissors</h1>
            <img src="../rock-paper-scissors.jpg" height = "200px" width = "275px"/>
            <form method="post" action="/roshambo">
                <input type="submit" value="Play">
            </form>
        </div>
        <div class="game-menu-layout" style="top:2.5%;right:2.5%;z-index:-1;">
            <h1>Morra</h1>
            <img src="../morra.jpg" height = "200px" width = "275px"/>
            <form method="post" action="/morra">
                <input type="submit" value="Play">
            </form>
        </div>
        <div class="game-menu-layout" style="bottom:2.5%;left:2.5%">
            <h1>Tic Tac Toe</h1>
            <img src="../tic-tac-toe.jpg" height = "200px" width = "200px"/>
            <form method="post" action="/tictactoe">
                <input type="submit" value="Play">
            </form>
        </div>
        <div class="game-menu-layout" style="bottom:2.5%;right:2.5%">
            <h1>Magic 8 Ball</h1>
            <img src="../magic-8-ball.jpg" height = "200px" width = "200px"/>
            <form method="post" action="/magic8ball">
                <input type="submit" value="Play">
            </form>
        </div>
        <div>
            <form method="post" action="/homePage" style="text-align:center;margin:auto;width:50%;z-index:1;">
                <input type="submit" value="Return to Login">
            </form>
            <form method="post" action="/databaseDisplay" style="text-align:center;margin:auto;width:50%;z-index:1;">
                <input type="submit" value="View Scoreboard">
            </form>
        </div>
    </body>
</html>