<!DOCTYPE html>
<html lang="en">
    <head>
        <title>homePage</title>
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
        <div class="main-page-layout">
            <h1>Welcome to the Arcade</h1>
            <h2>For Returning Users</h2>
            <h3>Username: </h3>
            <h3>Password: </h3>
            <h2>For New Users</h2>
            <h3>Username: </h3>
            <h3>Password: </h3>
        </div>
    </body>
</html>