<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Magic 8 Ball</title>
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
        <div class="main-page-layout" style="z-index:-1">
            <h1>Magic 8 Ball</h1>
            <h3 style="top:-40%">Instructions: </h3>
            <h4 style="font-weight:normal">Ask the ball a question!</h4>
            <h4 style="font-weight:normal">Tap to receive an answer.</h4>
            <button id="button" onclick="rollBall();" style="visibility: visible;" > Ask the ball</button>
            <h4 id="here" style="visibility:hidden;position:absolute;top:440px;left:628px;z-index:1;color: white;">
                <%= res %>
            </h4>

            <form id="reset" method="post" action="/magic8ball" style="visibility: hidden;">
                <input type="submit" value="Reset">
            </form>
            <img src="../8ballblank.jpg" width="400px" height="400px" style="z-index:-1">
        </div>
        <div>
            <form method="post" action="/gameMenu" style="text-align:center;margin:auto;width:50%;z-index:1;">
                <input type="submit" value="Return to Game Menu">
            </form>
        </div>
        <script>
            function rollBall() {
                document.getElementById("here").style.visibility = "visible";
                document.getElementById("button").innerHTML = "Try Again?";
                document.getElementById("button").setAttribute("onclick", "resetForm();");
            }

            function resetForm() {
                document.getElementById("reset").submit();
            }
        </script>
    </body>
</html>