<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Magic 8 Ball</title>
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
        <div class="main-page-layout" style="z-index:-1">
            <h1>Magic 8 Ball</h1>
            <h3 style="top:-40%">Instructions: </h3>
<<<<<<< HEAD
            <h4 style="font-weight:normal">1. step. </h4>
            <h4 style="font-weight:normal">2. step. </h4>
            <h4 style="font-weight:normal">3. step. </h4>
=======
            <h4 style="font-weight:normal">Ask the ball a question!</h4>
            <h4 style="font-weight:normal">Tap to receive an answer.</h4>
            <button id="button" onclick="rollBall()" style="visibility: visible;" > Ask the ball</button>
            <h4 id="here" style="visibility:hidden;">
                <%= res %>
            </h4>
            <form id="reset" method="post" action="/magic8ball" style="visibility: hidden;">
                <input type="submit" value="Reset">
            </form>
        </div>

        <div>
>>>>>>> 6d08d5162db17b4de8c5a8ea874f7813de419778
            <form method="post" action="/gameMenu" style="text-align:center;margin:auto;width:50%;z-index:1;">
                <input type="submit" value="Return to Game Menu">
            </form>
        </div>
<<<<<<< HEAD
        <script>
            function rollBall() {
                document.getElementById("here").style.visibility = "visible";
                document.getElementById("reset").style.visibility = "visible";
                document.getElementById("button").style.visibility = "hidden";
            }
        </script>
=======

>>>>>>> f9ecdc635484f2f74e3c69e14067b2c1046915b4
    </body>
</html>