<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tic Tac Toe</title>
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
        <div class="main-page-layout">
            <h1>Tic Tac Toe</h1>
            <h3 style="top:-40%">Instructions: </h3>
            <h4 style="font-weight:normal">1. step. </h4>
            <h4 style="font-weight:normal">2. step. </h4>
            <h4 style="font-weight:normal">3. step. </h4>
        </div>
    </body>
</html>