<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tic Tac Toe</title>
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
        <div class="main-page-layout" style="z-index:-1">
            <h1>Tic Tac Toe</h1>
            <h3 style="top:-40%">Instructions: </h3>
            <h4 style="font-weight:normal">A classic game of tic tac toe.</h4>
            <h4 style="font-weight:normal">Click Start or tap to play that position! </h4>
            <!-- <h4 style="font-weight:normal">3. s</h4> -->
        </div>
        <div>
            <form method="post" action="/gameMenu" style="text-align:center;margin:auto;width:50%;z-index:1;">
                <input type="submit" value="Return to Game Menu">
            </form>
        </div>
    </body>
</html>